@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html body {
  -webkit-tap-highlight-color: transparent;
}

nav#main-top-navigation {
  background-color: #111111;
  z-index: 1024;
}
